body {

    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(171,217,160,1) 100%);
    transition: 0.5s ease-out;

}

.memeBayan {
    max-width: 700px;
    margin: 0px auto;
    padding: 40px 60px;
    background: rgb(149, 149, 150);
}

.memeItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.mainHeading {
    font-size: 4em;
    font-weight: bold;
    margin: 30px 0;
}

.memeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    cursor: pointer;
}

.memeHeadin_Text {
    font-size: 2em;
    font-weight: bold;
    color: rgb(43, 40, 224)
}

.memeInput:checked ~ .memeContent>.memeHeading>.memeHeadin_Text{
    color: black
}

.memeInput:checked ~ .memeContent>.memeHeading>.icon{
    background-image: url(./img/cross_closed.png);
}

.icon {
    display: none;
    transition: 0.5s ease-out;
    width: 30px;
    height: 30px;
    background-image: url(./img/cross.png);
}

.icon:hover {
    background-image: url(./img/cross_closed.png);
}

.memeInput {
    width: 0;
    height: 0;
    appearance: none;
    position: absolute;
}

.memeImg {
    display: none;
    width: 376px;
    height: 470px;
    align-self: center;
    margin: 20px 0;
}
.memeHeading {
    display: flex;
    justify-content: space-between;
}

.memeContent:hover .memeImg{
    display: block;
}

.memeInput:checked ~ .memeContent>.memeImg{
    display: block;
}

.memeBayan:hover .memeHeadin_Text {
    color: black;
}

.memeBayan:hover .icon {
    display: block;
}


.img1 {
    background-image: url(./img/stage1.png);
    transition: background-image 0.2s ease-out;
}

.img2 {
    background-image: url(./img/stage2.png);
    transition: background-image 0.2s ease-out;
}

.img3 {
    background-image: url(./img/stage3.png);
    transition: background-image 0.2s ease-out;
}

.img4 {
    background-image: url(./img/stage4.png);
    transition: background-image 0.2s ease-out;
}

.img5 {
    background-image: url(./img/stage5.png);
    transition: background-image 0.2s ease-out;
}

.img6 {
    background-image: url(./img/stage6.png);
    transition: background-image 0.2s ease-out;
}

.img7 {
    background-image: url(./img/stage7.png);
    transition: background-image 0.2s ease-out;
}

.img8 {
    background-image: url(./img/stage8.png);
    transition: background-image 0.2s ease-out;
}
